.welcome-msg {
  font-size: x-large;
}

.welcome-msg-icons {
  font-size: 10vw;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-react {
  color: #61dafb;
}

.fa-vuejs {
  color: #3fb27f;
}

.fa-html5 {
  color: #e96228;
}

.fa-css3-alt {
  color: #28a4d8;
}
